@mixin cross ($degree, $height:1rem){
    justify-content: center;
    align-items: center;
    position: absolute;
    height: $height;
    width: $height*5;
    background-color: black;
    content: "";
    transform:rotate($degree*1deg);
    z-index: 20;
}

@mixin circle ($diameter,$color){
    justify-content: center;
    align-items: center;
    position: absolute;
    height: $diameter;
    width: $diameter;
    border-radius: 50%;
    background-color: $color;
    content: "";
}
